<div class="container">
  <mat-card id="privilegio-card" *ngFor="let item of diaSemana?.dias">
    <mat-card-header>
      <div mat-card-avatar class="privilegio-header-image"></div>
      <mat-card-title>{{ item?.name }}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <ul>
        <li *ngFor="let item2 of item?.priv">
          <button mat-icon-button>
            <mat-icon color="warn" (click)="deletePrivilegio(item2.id, item2.name)"
              >delete</mat-icon
            >
          </button>
          <button mat-icon-button (click)="openDialog(item.name, item2)">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          {{ item2.name }}
          <span
            matBadgeColor="accent"
            matBadge="{{ item2.nivel }}"
            matBadgeOverlap="false"
            matBadgePosition="after"
          >
          </span>
        </li>
      </ul>
    </mat-card-content>

    <mat-card-actions>
      <button mat-mini-fab color="primary">
        <mat-icon
          class="material-icons"
          id="add"
          (click)="openDialog(item.name)"
        >
          add
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
