<div class="container">
<mat-card id="dia-card">
  <mat-card-header>
    <div mat-card-avatar class="dia-header-image"></div>
    <mat-card-title>Dias da semana</mat-card-title>
    <mat-card-subtitle>seg,ter,qua..</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/dia.jpg" alt="Foto de dias" >
  <mat-card-content>
    <p>
      Ative os dias que você quer gerar a escala.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/dia">Configurar</button>
  </mat-card-actions>
</mat-card>

<mat-card id="privilegio-card">
  <mat-card-header>
    <div mat-card-avatar class="privilegio-header-image"></div>
    <mat-card-title>Privilégios</mat-card-title>
    <mat-card-subtitle>indicador, microfone...</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/privilegio.jpg" alt="Foto de privilegios" >
  <mat-card-content>
    <p>
      Crie os privilégios para cada dia
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/privilegio">Configurar</button>
  </mat-card-actions>
</mat-card>
</div>